---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/organisms/Hero.astro'
import ProductShowcase from '../components/organisms/ProductShowcase.astro'
import About from '../components/organisms/About.astro'
import BlurText from '../components/atoms/react-bits/BlurText.jsx'
import { getProducts } from '../lib/api/products.ts'

const products = await getProducts()
---

<Layout>
  <Hero>
    <h1 class='font-black text-6xl text-primary text-center'>
      <BlurText
        text='The Gym Bros Community'
        delay={200}
        animateBy='words'
        direction='top'
        className='text-6xl text-primary text-center'
        client:only='react'
      />
    </h1>
  </Hero>

  <ProductShowcase products={products} />

  <About />
</Layout>
