---
import clsx from 'clsx';

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<a
  href='/'
  class={clsx('block transition-all duration-300', className)}
>
  <img 
    src="/assets/logo.webp" 
    alt="TGC Logo" 
    class="h-10 sm:h-14 w-auto object-contain"
    draggable={false}
  />
</a>
