---
import LaserFlow from '../molecules/react-bits/LaserFlow.jsx'
import Countdown from '../molecules/Countdown.jsx'

const { targetDate } = Astro.props
---

<section class='relative w-full overflow-hidden'>
  <div class='flex flex-col items-center w-full py-12 gap-8 md:debug'>
    <slot />

    <Countdown
      targetDate={targetDate}
      className='mt-42 md:mt-52 -ml-32 md:-ml-64 w-md -mb-96 p-20 md:p-4'
      client:only='react'
    />
  </div>

  <div
    class='w-auto md:w-screen h-[500px] md:h-[700px] relative -mt-24 md:-mt-60 -mr-16 md:mr-0'
  >
    <LaserFlow
      color='#ca3500'
      flowSpeed={0.84}
      verticalSizing={5}
      horizontalSizing={1.6}
      fogIntensity={0.55}
      fogScale={0.6}
      wispSpeed={15}
      wispIntensity={5}
      flowStrength={0.13}
      decay={1.1}
      horizontalBeamOffset={0.15}
      verticalBeamOffset={-0.5}
      transparent={true}
      client:only='react'
    />
  </div>
</section>
