---
import ScrollVelocity from '../molecules/react-bits/ScrollVelocity.jsx'
import CircularGallery from '../molecules/react-bits/CircularGallery.jsx'

interface Props {
  products: any[];
}

const { products } = Astro.props;
---

<section id='products' class='mt-20'>
  <div class='text-primary mb-10'>
    <ScrollVelocity
      texts={['Próximamente', 'Coming Soon']}
      velocity={80}
      className='custom-scroll-text py-2'
      client:only='react'
    />
  </div>

  <div class='h-[600px] relative'>
    <CircularGallery
      items={products}
      bend={1}
      textColor='#ffffff'
      borderRadius={0.05}
      scrollSpeed={2}
      scrollEase={0.05}
      client:only='react'
    />
  </div>
</section>
