---
import '../styles/global.css'
import GlowSidemenuWrapper from '../components/GlowSidemenu/GlowSidemenuWrapper'

const menuItems = [
  { label: 'Home', ariaLabel: 'Go to home page', link: '/' },
  { label: 'About', ariaLabel: 'Learn about us', link: '/about' },
  { label: 'Services', ariaLabel: 'View our services', link: '/services' },
  { label: 'Contact', ariaLabel: 'Get in touch', link: '/contact' },
]

const socialItems = [
  { label: 'Twitter', link: 'https://twitter.com' },
  { label: 'GitHub', link: 'https://github.com' },
  { label: 'LinkedIn', link: 'https://linkedin.com' },
]
---

<!doctype html>
<html
  lang='en'
  data-theme='halloween'
>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <link
      rel='icon'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Astro Basics</title>
  </head>
  <body class='bg-[#060010]'>
    <div style={{ position: 'fixed', top: '1.5rem', left: '1.5rem', zIndex: 100 }}>
      <a href='/'>
        <img src='/assets/logo.webp' alt='TGC Logo' class='w-24 h-24' />
      </a>
    </div>
    
    <GlowSidemenuWrapper 
      items={menuItems} 
      socialItems={socialItems} 
      client:load
    />

    <slot />
  </body>
</html>
