---
import '../styles/global.css'
import Header from '../components/organisms/Header.astro'
---

<!doctype html>
<html
  lang='en'
  data-theme='halloween'
>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <link
      rel='icon'
      href='/favicon.ico'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>The Gym Bros Community | Ropa Fitness de Élite</title>
  </head>
  <body class='relative min-h-screen bg-transparent'>
    <!-- Base background layer -->
    <div class="fixed inset-0 z-[-20] bg-[#060010]" aria-hidden="true"></div>
    <Header />

    <slot />
  </body>
</html>
